.hidden-select2 {
  .select2-container {
    display: block;
  }

  .select2-selection {
    display: none;
  }
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
}



.z-pagination {

  float: right;
  display: block;


  .input-group-btn {
    float: left;
    display: table;
    .btn:hover,
    .btn:focus {
      z-index: 3;
    }
  }

  input {
    //float: left;
    //display: table;
    max-width: 80px;
  }

}

.select2-container {
  z-index: 100000;
}
