.hidden-select2 {
  .select2-container {
    display: block;
  }

  .select2-selection {
    display: none;
  }
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
}



.z-pagination {
  .input-group-btn {
    .btn:hover,
    .btn:focus {
      z-index: 3;
    }
  }
}
